# Image Processing EDA

## Creating function to get correct crop percentages

In [8]:
def crop1to1(img_tensor):
    """
    Given an image tensor  of (channel, width, height) this will provide crop percentages
    to get to a 1:1 aspect ratio.
    
    Parameters
    -------------
        img_tensor (tuple): (channel, width, height) of an image
        
    Returns
    -------------
        cropPct (tuple): (x_percent, y_percent) crop of image to get to 1:1 aspect
                            ratio
    """
    
    # retrieving relevant info from img_tensor
    x = img_tensor[1]
    y = img_tensor[2]
    
    # calculate crop to 1:1 ratio based on smallest dimension
    if x >= y:
        x_percent = y/x
        y_percent = 1
    else:
        y_percent = x/y
        x_percent = 1
        
    cropPct = (x_percent, y_percent)
    
    return cropPct

### testing function

In [11]:
img_tensor = (1, 600, 780)
crop1to1(img_tensor)

(1, 0.7692307692307693)

## Basic Stats

In [7]:
import pandas as pd
index_df = pd.read_csv('../../data/image_index_dtl.csv')

In [9]:
index_df

,img,data_set,condition,image_tensor,channels,height,width,data_set_name
0,..\..\data\extracted\chest_xray\test\NORMAL\IM...,0,0,"[1, 1317, 1857]",1,1317,1857,test
1,..\..\data\extracted\chest_xray\test\NORMAL\IM...,0,0,"[1, 1509, 2111]",1,1509,2111,test
2,..\..\data\extracted\chest_xray\test\NORMAL\IM...,0,0,"[1, 1837, 2031]",1,1837,2031,test
3,..\..\data\extracted\chest_xray\test\NORMAL\IM...,0,0,"[1, 1326, 1663]",1,1326,1663,test
4,..\..\data\extracted\chest_xray\test\NORMAL\IM...,0,0,"[1, 1818, 2053]",1,1818,2053,test
...,...,...,...,...,...,...,...,...
5851,..\..\data\extracted\chest_xray\val\PNEUMONIA\...,2,1,"[1, 944, 1416]",1,944,1416,validation
5852,..\..\data\extracted\chest_xray\val\PNEUMONIA\...,2,1,"[1, 864, 1256]",1,864,1256,validation
5853,..\..\data\extracted\chest_xray\val\PNEUMONIA\...,2,1,"[1, 656, 1016]",1,656,1016,validation
5854,..\..\data\extracted\chest_xray\val\PNEUMONIA\...,2,1,"[1, 952, 1192]",1,952,1192,validation
5855,..\..\data\extracted\chest_xray\val\PNEUMONIA\...,2,1,"[1, 1128, 1664]",1,1128,1664,validation

In [11]:
index_df.condition.value_counts()

1    4273
0    1583
Name: condition, dtype: int64

In [12]:
index_df.data_set_name.value_counts()

train         5216
test           624
validation      16
Name: data_set_name, dtype: int64

In [13]:
index_df.describe()

          data_set    condition     channels       height        width
count  5856.000000  5856.000000  5856.000000  5856.000000  5856.000000
mean      0.896175     0.729679     1.096653   970.689037  1327.880806
std       0.313890     0.444164     0.428947   383.392117   363.500922
min       0.000000     0.000000     1.000000   127.000000   384.000000
25%       1.000000     0.000000     1.000000   688.000000  1056.000000
50%       1.000000     1.000000     1.000000   888.000000  1281.000000
75%       1.000000     1.000000     1.000000  1187.000000  1560.000000
max       2.000000     1.000000     3.000000  2713.000000  2916.000000